@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 122 255;
    --color-secondary: 88 86 214;
    --color-success: 52 199 89;
    --color-danger: 255 59 48;
    --color-warning: 255 204 0;
  }
}

@layer components {
  /* Layout Classes */

}
.style_select__FDaAq{
border:1px solid #E9EAEA !important;
border-radius: 12px !important;
}
