.header {
    @apply lg:text-[24px] sm:text-[16px] font-[600] text-[#24282E]
}

.customerBtn {
    @apply text-[14px] font-[400] text-[#ffff] flex items-center justify-center gap-2;
    border-radius: 12px;
    background-color: #42DA82;
    height: 40px;
    padding: 10px;
}

.btnPlusIcon {
    @apply w-[16px] h-[16px] text-[#ffff]
}

.tableChip {
    @apply text-[10px] font-[500] text-[#F05D3D] px-3 py-1 rounded-full flex items-center cursor-pointer;
    border: 1px solid #FACDC3;
    background: #FEEFEC;
}


.dropdownItem {
    @apply rounded-[16px] p-0;
    box-shadow: none;
    background-color: #ffff;
    border: 1px solid #E9EAEA;
}

.dropdownText {
    @apply text-[14px] font-[500] text-[#727A90];
}