.text{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.input-text{
    border-radius: 12px;
    border: 1px solid #E9EAEA;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 8px 12px;
}