.text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.input-text {
    border-radius: 12px;
    border: 1px solid #E9EAEA;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 8px 12px;
}

[dir="rtl"] .input-text {
    padding-right: 10px;
    padding-left: 40px;
    /* Adjust for the icon on the left in RTL */
}

[dir="ltr"] .input-text {
    padding-right: 40px;
    /* Adjust for the icon on the right in LTR */
    padding-left: 10px;
}

[dir="rtl"] .absolute.inset-y-0.right-3 {
    right: auto;
    left: 3px;
}