.tableHeaders {
    @apply text-center text-[12px] sm:text-[14px] font-[500] text-[#727A90];
}

.footerBtn {
    border: 1px solid #E9EAEA;
    border-radius: 10px;
    color: #727A90;
}

.activeBtn {
    border-radius: 10px;
    color: #24282E;
    background-color: #F1F2F4;
    border: none;
}

.footerIconBtn {
    width: 5.05px;
    height: 8.79px;
}